body {
	background-image: url("../images/chair.jpg");
	background-size: cover;
	background-repeat: no repeat;
	font-family: 'Karla', sans-serif;
}
h1 {
color: white;
font-size: 30px;
font-weight: normal;
margin-bottom: 0;
}
h2 {
	color: black;
	font-size: 15px;
	margin-top: 0;
}
.bio {
	color: black;
	font-size: 14px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	align-content: center;
}
.me{
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}
#container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}